<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.example.test.api.mapper.ApiMapper">
  <select id="selectEmployee" parameterType="int" resultType="com.example.test.api.dto.EmployeesDto">
     <![CDATA[
     	SELECT
     		 a.employee_id
     		,a.first_name
     		,a.last_name
     		,a.email
     		,a.phone_number
     		,a.hire_date
     		,b.job_title
     		,a.salary
     		,a.commission_pct
     		,c.first_name as manager_first_name
     		,c.last_name as manager_last_name
     		,d.department_name
     		,e.street_address
     		,e.postal_code
			,e.city
			,e.state_province
			,f.country_name
			,g.region_name
     	FROM
     		employees a
     	LEFT OUTER JOIN
     		jobs b ON a.job_id = b.job_id
     	LEFT OUTER JOIN
     		employees c ON a.manager_id = c.employee_id
     	LEFT OUTER JOIN
     		departments d ON a.department_id = d.department_id
     	LEFT OUTER JOIN
     		locations e ON d.location_id = e.location_id
     	LEFT OUTER JOIN
     		countries f ON e.country_id = f.country_id
     	LEFT OUTER JOIN
     		regions g ON f.region_id = g.region_id
     	WHERE
     		a.employee_id = #{employeeId} 
     ]]>
  </select>
  
  <select id="selectEmployeeHistory" parameterType="int" resultType="com.example.test.api.dto.EmployeeHistoryDto">
     <![CDATA[
     	SELECT
     		 a.employee_id
     		,b.first_name
     		,b.last_name
     		,b.email
     		,b.phone_number
     		,b.hire_date
     		,c.job_title
     		,d.department_name
     		,e.street_address
     		,e.postal_code
			,e.city
			,e.state_province
			,f.country_name
			,g.region_name
     	FROM
     		job_history a
     	LEFT OUTER JOIN
     		employees b ON a.employee_id = b.employee_id
     	LEFT OUTER JOIN
     		jobs c ON a.job_id = c.job_id
     	LEFT OUTER JOIN
     		departments d ON a.department_id = d.department_id
     	LEFT OUTER JOIN
     		locations e ON d.location_id = e.location_id
     	LEFT OUTER JOIN
     		countries f ON e.country_id = f.country_id
     	LEFT OUTER JOIN
     		regions g ON f.region_id = g.region_id
     	WHERE
     		a.employee_id = #{employeeId} 
     ]]>
  </select>
  
  <select id="selectDepartment" resultType="com.example.test.api.dto.DepartmentDto">
     <![CDATA[
     	SELECT
     		 a.department_name
     		,b.street_address
     		,b.postal_code
			,b.city
			,b.state_province
			,c.country_name
			,d.region_name
     	FROM
     		departments a
     	LEFT OUTER JOIN
     		locations b ON a.location_id = b.location_id
     	LEFT OUTER JOIN
     		countries c ON b.country_id = c.country_id
     	LEFT OUTER JOIN
     		regions d ON c.region_id = d.region_id
     ]]>
  </select>
  
  <update id="updateDepartmentSalary" parameterType="com.example.test.api.dto.SalaryDto">
	<![CDATA[
	  UPDATE employees a
	    LEFT OUTER JOIN jobs b ON a.job_id = b.job_id
	    SET a.salary = 
	        CASE
	            WHEN ROUND(a.salary * (1 + (#{per} / 100))) < b.min_salary THEN b.min_salary
	            WHEN ROUND(a.salary * (1 + (#{per} / 100))) > b.max_salary THEN b.max_salary
	            ELSE ROUND(a.salary * (1 + (#{per} / 100)))
	        END
	    WHERE a.department_id = #{departmentId}
	]]>
  </update>
</mapper>